.row {
    display: grid;
    grid-gap: var(--px30);
    padding: 3rem;
    grid-template-columns: repeat(2, 1fr);
}
.content-slider {
    width: 90%;
    margin: 0 auto;
    height: 450px;
}

.slider {
    height: 400px;
    width: 90%;
    margin: 40px auto;
    overflow: visible;
    position: relative;
}

.slider ul {
    margin: 0;
    padding: 0;
    position: relative;
}

.slider li {
    width: 90%;
    height: 400px;
    list-style: none;
    width: 90%;
    position: absolute;
    top: -420px;
}

.slider .quote {
    font-size: 20px;
    font-style: italic;
    padding-top: 2rem;
}

.slider .source {
    font-size: 20px;
    text-align: right;
}

.mask {
    overflow: hidden;
    height: 400px;
}

.slider li.anim1 {
    animation: cycle1 15s linear infinite;
}

.slider li.anim2 {
    animation: cycle2 15s linear infinite;
}

.slider li.anim3 {
    animation: cycle3 15s linear infinite;
}

.slider li.anim4 {
    animation: cycle4 15s linear infinite;
}

@keyframes cycle1 {
    0% {
        top: 0px;
    }

    4% {
        top: 0px;
    }

    16% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }

    20% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }

    21% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }

    50% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }

    92% {
        top: -325px;
        opacity: 0;
        z-index: 0;
    }

    96% {
        top: -325px;
        opacity: 0;
    }

    100% {
        top: 0px;
        opacity: 1;
    }
}

@keyframes cycle2 {
    0% {
        top: -325px;
        opacity: 0;
    }

    16% {
        top: -325px;
        opacity: 0;
    }

    20% {
        top: 0px;
        opacity: 1;
    }

    24% {
        top: 0px;
        opacity: 1;
    }

    36% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }

    40% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }

    41% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }

    100% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes cycle3 {
    0% {
        top: -325px;
        opacity: 0;
    }

    36% {
        top: -325px;
        opacity: 0;
    }

    40% {
        top: 0px;
        opacity: 1;
    }

    44% {
        top: 0px;
        opacity: 1;
    }

    56% {
        top: 0px;
        opacity: 1;
    }

    60% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }

    61% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }

    100% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes cycle4 {
    0% {
        top: -325px;
        opacity: 0;
    }

    56% {
        top: -325px;
        opacity: 0;
    }

    60% {
        top: 0px;
        opacity: 1;
    }

    64% {
        top: 0px;
        opacity: 1;
    }

    76% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }

    80% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }

    81% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }

    100% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
}